In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import warnings
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import config

# EXTRACT DATA

In [2]:
# Study data files paths
average_scores_path = "Input_Data/naep.csv"
income_2013_path = "Input_Data/est13us.csv"
income_2015_path = "Input_Data/est15us.csv"
income_2017_path = "Input_Data/est17us.csv"
state_table_path = "Input_Data/state_table.csv"

# Read the score data and the revenue results
average_scores_data = pd.read_csv(average_scores_path)
income_2013_data = pd.read_csv(income_2013_path)
income_2015_data = pd.read_csv(income_2015_path)
income_2017_data = pd.read_csv(income_2017_path)
state_data = pd.read_csv(state_table_path)

# TRANSFORM DATA

In [3]:
income_data_2013_df = income_2013_data.rename(columns = {'Year' : 'YEAR', 'State' : 'STATE', 'Poverty Percent, Age 5-17 in Families' : 'POVERTY_PERCENTAGE', 'Median Household Income':'MED_INCOME'})
income_data_2013_df

    YEAR                 STATE  POVERTY_PERCENTAGE MED_INCOME
0   2013               Alabama                25.6     42,882
1   2013                Alaska                12.5     70,058
2   2013               Arizona                25.0     48,504
3   2013              Arkansas                26.4     40,605
4   2013            California                22.5     60,185
5   2013              Colorado                15.7     58,942
6   2013           Connecticut                13.3     67,262
7   2013              Delaware                17.5     58,244
8   2013  District of Columbia                29.9     66,326
9   2013               Florida                23.5     46,021
10  2013               Georgia                24.9     47,765
11  2013                Hawaii                13.9     67,798
12  2013                 Idaho                18.3     46,621
13  2013              Illinois                19.6     56,212
14  2013               Indiana                20.0     47,508
15  2013                  Iowa                15.0     52,286
16  2013                Kansas                16.5     50,892
17  2013              Kentucky                23.7     43,307
18  2013             Louisiana                27.0     44,234
19  2013                 Maine                16.4     47,095
20  2013              Maryland                12.5     72,482
21  2013         Massachusetts                15.2     66,794
22  2013              Michigan                21.6     48,200
23  2013             Minnesota                13.1     60,664
24  2013           Mississippi                32.4     38,191
25  2013              Missouri                20.5     46,905
26  2013               Montana                19.3     46,893
27  2013              Nebraska                15.0     51,502
28  2013                Nevada                21.1     51,250
29  2013         New Hampshire                 9.9     64,064
30  2013            New Jersey                15.2     70,224
31  2013            New Mexico                28.5     44,026
32  2013              New York                22.2     57,255
33  2013        North Carolina                23.6     45,946
34  2013          North Dakota                11.3     56,800
35  2013                  Ohio                20.8     48,138
36  2013              Oklahoma                21.7     45,724
37  2013                Oregon                19.3     50,228
38  2013          Pennsylvania                17.5     52,005
39  2013          Rhode Island                20.2     55,015
40  2013        South Carolina                25.2     44,310
41  2013          South Dakota                17.3     49,200
42  2013             Tennessee                24.3     44,268
43  2013                 Texas                23.8     51,714
44  2013                  Utah                13.6     59,715
45  2013               Vermont                13.3     52,511
46  2013              Virginia                14.4     62,745
47  2013            Washington                17.6     58,431
48  2013         West Virginia                23.9     41,195
49  2013             Wisconsin                16.8     51,474
50  2013               Wyoming                12.0     58,424

In [4]:
income_data_2015_df = income_2015_data.rename(columns = {'Year' : 'YEAR', 'State' : 'STATE', 'Poverty Percent, Age 5-17 in Families' : 'POVERTY_PERCENTAGE', 'Median Household Income':'MED_INCOME'})
income_data_2015_df

    YEAR                 STATE  POVERTY_PERCENTAGE MED_INCOME
0   2015               Alabama                25.2     44,833
1   2015                Alaska                13.3     73,391
2   2015               Arizona                23.5     51,473
3   2015              Arkansas                24.5     42,046
4   2015            California                20.3     64,483
5   2015              Colorado                13.6     63,945
6   2015           Connecticut                13.6     71,333
7   2015              Delaware                17.9     61,327
8   2015  District of Columbia                29.3     73,115
9   2015               Florida                22.0     49,416
10  2015               Georgia                23.6     51,225
11  2015                Hawaii                13.4     73,097
12  2015                 Idaho                15.9     48,311
13  2015              Illinois                17.9     59,590
14  2015               Indiana                18.8     50,510
15  2015                  Iowa                13.7     54,843
16  2015                Kansas                15.3     53,802
17  2015              Kentucky                23.8     45,178
18  2015             Louisiana                26.7     45,829
19  2015                 Maine                16.0     51,419
20  2015              Maryland                12.8     75,784
21  2015         Massachusetts                13.9     70,659
22  2015              Michigan                20.8     51,063
23  2015             Minnesota                12.1     63,459
24  2015           Mississippi                30.1     40,630
25  2015              Missouri                18.9     50,200
26  2015               Montana                16.8     49,650
27  2015              Nebraska                14.4     55,073
28  2015                Nevada                20.1     52,544
29  2015         New Hampshire                 9.8     70,003
30  2015            New Jersey                14.6     72,337
31  2015            New Mexico                25.6     45,524
32  2015              New York                21.3     60,805
33  2015        North Carolina                21.9     47,884
34  2015          North Dakota                10.5     61,674
35  2015                  Ohio                19.3     51,086
36  2015              Oklahoma                20.4     48,595
37  2015                Oregon                18.1     54,074
38  2015          Pennsylvania                17.9     55,683
39  2015          Rhode Island                19.3     57,265
40  2015        South Carolina                23.5     47,308
41  2015          South Dakota                16.0     53,263
42  2015             Tennessee                22.4     47,243
43  2015                 Texas                21.9     55,668
44  2015                  Utah                11.5     62,961
45  2015               Vermont                12.2     56,883
46  2015              Virginia                14.0     66,263
47  2015            Washington                14.6     64,080
48  2015         West Virginia                22.9     41,969
49  2015             Wisconsin                14.9     55,623
50  2015               Wyoming                11.2     61,213

In [5]:
income_data_2017_df = income_2017_data.rename(columns = {'Year' : 'YEAR', 'State' : 'STATE', 'Poverty Percent, Age 5-17 in Families' : 'POVERTY_PERCENTAGE', 'Median Household Income':'MED_INCOME'})
income_data_2017_df

    YEAR                 STATE  POVERTY_PERCENTAGE MED_INCOME
0   2017               Alabama                22.8     48,193
1   2017                Alaska                13.3     74,058
2   2017               Arizona                19.7     56,508
3   2017              Arkansas                21.2     45,916
4   2017            California                17.4     71,785
5   2017              Colorado                11.4     69,113
6   2017           Connecticut                12.3     74,428
7   2017              Delaware                16.0     64,085
8   2017  District of Columbia                26.0     80,153
9   2017               Florida                19.6     52,582
10  2017               Georgia                20.3     56,117
11  2017                Hawaii                10.7     77,936
12  2017                 Idaho                13.3     52,280
13  2017              Illinois                16.0     63,044
14  2017               Indiana                16.3     54,134
15  2017                  Iowa                10.9     58,706
16  2017                Kansas                13.4     56,382
17  2017              Kentucky                20.6     48,332
18  2017             Louisiana                26.0     46,283
19  2017                 Maine                13.1     55,980
20  2017              Maryland                11.6     80,711
21  2017         Massachusetts                12.7     77,385
22  2017              Michigan                17.7     54,840
23  2017             Minnesota                10.8     68,364
24  2017           Mississippi                27.0     43,595
25  2017              Missouri                17.2     53,506
26  2017               Montana                14.0     53,262
27  2017              Nebraska                12.6     59,913
28  2017                Nevada                17.9     57,932
29  2017         New Hampshire                 9.1     73,638
30  2017            New Jersey                13.1     80,106
31  2017            New Mexico                24.6     47,086
32  2017              New York                18.9     64,783
33  2017        North Carolina                19.6     52,797
34  2017          North Dakota                10.4     62,400
35  2017                  Ohio                18.2     54,077
36  2017              Oklahoma                20.1     50,051
37  2017                Oregon                14.9     60,123
38  2017          Pennsylvania                15.7     59,165
39  2017          Rhode Island                17.1     62,923
40  2017        South Carolina                21.3     50,675
41  2017          South Dakota                15.2     56,871
42  2017             Tennessee                19.8     51,319
43  2017                 Texas                19.9     59,195
44  2017                  Utah                 9.5     68,395
45  2017               Vermont                11.6     58,271
46  2017              Virginia                13.3     71,518
47  2017            Washington                13.4     70,942
48  2017         West Virginia                22.3     43,238
49  2017             Wisconsin                13.5     59,300
50  2017               Wyoming                12.0      61279

In [6]:
frames = [income_data_2013_df,income_data_2015_df,income_data_2017_df]
merged_income_data_df = pd.concat(frames, ignore_index=True)
merged_income_data_df

     YEAR          STATE  POVERTY_PERCENTAGE MED_INCOME
0    2013        Alabama                25.6     42,882
1    2013         Alaska                12.5     70,058
2    2013        Arizona                25.0     48,504
3    2013       Arkansas                26.4     40,605
4    2013     California                22.5     60,185
..    ...            ...                 ...        ...
148  2017       Virginia                13.3     71,518
149  2017     Washington                13.4     70,942
150  2017  West Virginia                22.3     43,238
151  2017      Wisconsin                13.5     59,300
152  2017        Wyoming                12.0      61279

[153 rows x 4 columns]

In [7]:
pd.set_option('display.max_rows', 500)

In [8]:
merged_income_data_df

     YEAR                 STATE  POVERTY_PERCENTAGE MED_INCOME
0    2013               Alabama                25.6     42,882
1    2013                Alaska                12.5     70,058
2    2013               Arizona                25.0     48,504
3    2013              Arkansas                26.4     40,605
4    2013            California                22.5     60,185
5    2013              Colorado                15.7     58,942
6    2013           Connecticut                13.3     67,262
7    2013              Delaware                17.5     58,244
8    2013  District of Columbia                29.9     66,326
9    2013               Florida                23.5     46,021
10   2013               Georgia                24.9     47,765
11   2013                Hawaii                13.9     67,798
12   2013                 Idaho                18.3     46,621
13   2013              Illinois                19.6     56,212
14   2013               Indiana                20.0     47,508
15   2013                  Iowa                15.0     52,286
16   2013                Kansas                16.5     50,892
17   2013              Kentucky                23.7     43,307
18   2013             Louisiana                27.0     44,234
19   2013                 Maine                16.4     47,095
20   2013              Maryland                12.5     72,482
21   2013         Massachusetts                15.2     66,794
22   2013              Michigan                21.6     48,200
23   2013             Minnesota                13.1     60,664
24   2013           Mississippi                32.4     38,191
25   2013              Missouri                20.5     46,905
26   2013               Montana                19.3     46,893
27   2013              Nebraska                15.0     51,502
28   2013                Nevada                21.1     51,250
29   2013         New Hampshire                 9.9     64,064
30   2013            New Jersey                15.2     70,224
31   2013            New Mexico                28.5     44,026
32   2013              New York                22.2     57,255
33   2013        North Carolina                23.6     45,946
34   2013          North Dakota                11.3     56,800
35   2013                  Ohio                20.8     48,138
36   2013              Oklahoma                21.7     45,724
37   2013                Oregon                19.3     50,228
38   2013          Pennsylvania                17.5     52,005
39   2013          Rhode Island                20.2     55,015
40   2013        South Carolina                25.2     44,310
41   2013          South Dakota                17.3     49,200
42   2013             Tennessee                24.3     44,268
43   2013                 Texas                23.8     51,714
44   2013                  Utah                13.6     59,715
45   2013               Vermont                13.3     52,511
46   2013              Virginia                14.4     62,745
47   2013            Washington                17.6     58,431
48   2013         West Virginia                23.9     41,195
49   2013             Wisconsin                16.8     51,474
50   2013               Wyoming                12.0     58,424
51   2015               Alabama                25.2     44,833
52   2015                Alaska                13.3     73,391
53   2015               Arizona                23.5     51,473
54   2015              Arkansas                24.5     42,046
55   2015            California                20.3     64,483
56   2015              Colorado                13.6     63,945
57   2015           Connecticut                13.6     71,333
58   2015              Delaware                17.9     61,327
59   2015  District of Columbia                29.3     73,115
60   2015               Florida                22.0     49,416
61   2015               Georgia                23.6     51,225
62   2015                Hawaii                13.4     73,097
63   2015                 Idaho                15.9     48,311
64   2015              Illinois                17.9     59,590
65   2015               Indiana                18.8     50,510
66   2015                  Iowa                13.7     54,843
67   2015                Kansas                15.3     53,802
68   2015              Kentucky                23.8     45,178
69   2015             Louisiana                26.7     45,829
70   2015                 Maine                16.0     51,419
71   2015              Maryland                12.8     75,784
72   2015         Massachusetts                13.9     70,659
73   2015              Michigan                20.8     51,063
74   2015             Minnesota                12.1     63,459
75   2015           Mississippi                30.1     40,630
76   2015              Missouri                18.9     50,200
77   2015               Montana                16.8     49,650
78   2015              Nebraska                14.4     55,073
79   2015                Nevada                20.1     52,544
80   2015         New Hampshire                 9.8     70,003
81   2015            New Jersey                14.6     72,337
82   2015            New Mexico                25.6     45,524
83   2015              New York                21.3     60,805
84   2015        North Carolina                21.9     47,884
85   2015          North Dakota                10.5     61,674
86   2015                  Ohio                19.3     51,086
87   2015              Oklahoma                20.4     48,595
88   2015                Oregon                18.1     54,074
89   2015          Pennsylvania                17.9     55,683
90   2015          Rhode Island                19.3     57,265
91   2015        South Carolina                23.5     47,308
92   2015          South Dakota                16.0     53,263
93   2015             Tennessee                22.4     47,243
94   2015                 Texas                21.9     55,668
95   2015                  Utah                11.5     62,961
96   2015               Vermont                12.2     56,883
97   2015              Virginia                14.0     66,263
98   2015            Washington                14.6     64,080
99   2015         West Virginia                22.9     41,969
100  2015             Wisconsin                14.9     55,623
101  2015               Wyoming                11.2     61,213
102  2017               Alabama                22.8     48,193
103  2017                Alaska                13.3     74,058
104  2017               Arizona                19.7     56,508
105  2017              Arkansas                21.2     45,916
106  2017            California                17.4     71,785
107  2017              Colorado                11.4     69,113
108  2017           Connecticut                12.3     74,428
109  2017              Delaware                16.0     64,085
110  2017  District of Columbia                26.0     80,153
111  2017               Florida                19.6     52,582
112  2017               Georgia                20.3     56,117
113  2017                Hawaii                10.7     77,936
114  2017                 Idaho                13.3     52,280
115  2017              Illinois                16.0     63,044
116  2017               Indiana                16.3     54,134
117  2017                  Iowa                10.9     58,706
118  2017                Kansas                13.4     56,382
119  2017              Kentucky                20.6     48,332
120  2017             Louisiana                26.0     46,283
121  2017                 Maine                13.1     55,980
122  2017              Maryland                11.6     80,711
123  2017         Massachusetts                12.7     77,385
124  2017              Michigan                17.7     54,840
125  2017             Minnesota                10.8     68,364
126  2017           Mississippi                27.0     43,595
127  2017              Missouri                17.2     53,506
128  2017               Montana                14.0     53,262
129  2017              Nebraska                12.6     59,913
130  2017                Nevada                17.9     57,932
131  2017         New Hampshire                 9.1     73,638
132  2017            New Jersey                13.1     80,106
133  2017            New Mexico                24.6     47,086
134  2017              New York                18.9     64,783
135  2017        North Carolina                19.6     52,797
136  2017          North Dakota                10.4     62,400
137  2017                  Ohio                18.2     54,077
138  2017              Oklahoma                20.1     50,051
139  2017                Oregon                14.9     60,123
140  2017          Pennsylvania                15.7     59,165
141  2017          Rhode Island                17.1     62,923
142  2017        South Carolina                21.3     50,675
143  2017          South Dakota                15.2     56,871
144  2017             Tennessee                19.8     51,319
145  2017                 Texas                19.9     59,195
146  2017                  Utah                 9.5     68,395
147  2017               Vermont                11.6     58,271
148  2017              Virginia                13.3     71,518
149  2017            Washington                13.4     70,942
150  2017         West Virginia                22.3     43,238
151  2017             Wisconsin                13.5     59,300
152  2017               Wyoming                12.0      61279

In [9]:
average_score_data = average_scores_data.loc[(average_scores_data['YEAR'] >= 2013)]
average_score_data

      YEAR          STATE    AVG_SCORE TEST_SUBJECT  TEST_YEAR
0     2017        Alabama  232.1706877  Mathematics          4
1     2017         Alaska  230.4562776  Mathematics          4
2     2017        Arizona  234.4357882  Mathematics          4
3     2017       Arkansas  233.8481437  Mathematics          4
4     2017     California   232.262941  Mathematics          4
...    ...            ...          ...          ...        ...
1936  2013       Virginia  267.5898643      Reading          8
1937  2013     Washington  272.0361244      Reading          8
1938  2013  West Virginia  257.3835093      Reading          8
1939  2013      Wisconsin  267.5429942      Reading          8
1940  2013        Wyoming  270.9661722      Reading          8

[615 rows x 5 columns]

In [10]:
state_data

    STATE_ID                 STATE
0          1               Alabama
1          2                Alaska
2          3               Arizona
3          4              Arkansas
4          5            California
5          6              Colorado
6          7           Connecticut
7          8              Delaware
8          9  District of Columbia
9         10               Florida
10        11               Georgia
11        12                Hawaii
12        13                 Idaho
13        14              Illinois
14        15               Indiana
15        16                  Iowa
16        17                Kansas
17        18              Kentucky
18        19             Louisiana
19        20                 Maine
20        21              Maryland
21        22         Massachusetts
22        23              Michigan
23        24             Minnesota
24        25           Mississippi
25        26              Missouri
26        27               Montana
27        28              Nebraska
28        29                Nevada
29        30         New Hampshire
30        31            New Jersey
31        32            New Mexico
32        33              New York
33        34        North Carolina
34        35          North Dakota
35        36                  Ohio
36        37              Oklahoma
37        38                Oregon
38        39          Pennsylvania
39        40          Rhode Island
40        41        South Carolina
41        42          South Dakota
42        43             Tennessee
43        44                 Texas
44        45                  Utah
45        46               Vermont
46        47              Virginia
47        48            Washington
48        49         West Virginia
49        50             Wisconsin
50        51               Wyoming

In [11]:
average_score_data = average_score_data.rename(columns={'TEST_YEAR':"GRADE", "TEST_SUBJECT":"SUBJECT"})
average_score_data

      YEAR          STATE    AVG_SCORE      SUBJECT  GRADE
0     2017        Alabama  232.1706877  Mathematics      4
1     2017         Alaska  230.4562776  Mathematics      4
2     2017        Arizona  234.4357882  Mathematics      4
3     2017       Arkansas  233.8481437  Mathematics      4
4     2017     California   232.262941  Mathematics      4
...    ...            ...          ...          ...    ...
1936  2013       Virginia  267.5898643      Reading      8
1937  2013     Washington  272.0361244      Reading      8
1938  2013  West Virginia  257.3835093      Reading      8
1939  2013      Wisconsin  267.5429942      Reading      8
1940  2013        Wyoming  270.9661722      Reading      8

[615 rows x 5 columns]

In [12]:
year_id =[1, 2, 3]
year = [2013, 2015, 2017]
d = {'YEAR_ID': year_id, 'YEAR': year}
year_df = pd.DataFrame(data=d)
year_df.head()

   YEAR_ID  YEAR
0        1  2013
1        2  2015
2        3  2017

In [13]:
subject_id =[1, 2]
subject = ['Mathematics', 'Reading']
d = {'SUBJECT_ID': subject_id, 'SUBJECT': subject}
subject_df = pd.DataFrame(data=d)
subject_df.head()

   SUBJECT_ID      SUBJECT
0           1  Mathematics
1           2      Reading

In [14]:
grade_id =[1, 2]
grade = [4, 8]
d = {'GRADE_ID': grade_id, 'GRADE': grade}
grade_df = pd.DataFrame(data=d)
grade_df.head()

   GRADE_ID  GRADE
0         1      4
1         2      8

In [15]:
merged_df = pd.merge(state_data, average_score_data, on='STATE')
merged_df = pd.merge(year_df, merged_df, on='YEAR')
merged_df = pd.merge(subject_df, merged_df, on='SUBJECT')
merged_df = pd.merge(grade_df, merged_df, on='GRADE')
merged_df = merged_df.drop(columns = ['STATE', 'SUBJECT', 'YEAR', 'GRADE'])
merged_df.head()

   GRADE_ID  SUBJECT_ID  YEAR_ID  STATE_ID    AVG_SCORE
0         1           1        1         1  232.8613325
1         1           1        1         2  236.1220044
2         1           1        1         3  240.3049115
3         1           1        1         4  239.8905221
4         1           1        1         5  233.6544646

In [16]:
merged_income_df = pd.merge(state_data, merged_income_data_df, on='STATE')
merged_income_df = pd.merge(year_df, merged_income_df, on='YEAR')
merged_income_df = merged_income_df.drop(columns = ['STATE', 'YEAR'])
merged_income_df

     YEAR_ID  STATE_ID  POVERTY_PERCENTAGE MED_INCOME
0          1         1                25.6     42,882
1          1         2                12.5     70,058
2          1         3                25.0     48,504
3          1         4                26.4     40,605
4          1         5                22.5     60,185
5          1         6                15.7     58,942
6          1         7                13.3     67,262
7          1         8                17.5     58,244
8          1         9                29.9     66,326
9          1        10                23.5     46,021
10         1        11                24.9     47,765
11         1        12                13.9     67,798
12         1        13                18.3     46,621
13         1        14                19.6     56,212
14         1        15                20.0     47,508
15         1        16                15.0     52,286
16         1        17                16.5     50,892
17         1        18                23.7     43,307
18         1        19                27.0     44,234
19         1        20                16.4     47,095
20         1        21                12.5     72,482
21         1        22                15.2     66,794
22         1        23                21.6     48,200
23         1        24                13.1     60,664
24         1        25                32.4     38,191
25         1        26                20.5     46,905
26         1        27                19.3     46,893
27         1        28                15.0     51,502
28         1        29                21.1     51,250
29         1        30                 9.9     64,064
30         1        31                15.2     70,224
31         1        32                28.5     44,026
32         1        33                22.2     57,255
33         1        34                23.6     45,946
34         1        35                11.3     56,800
35         1        36                20.8     48,138
36         1        37                21.7     45,724
37         1        38                19.3     50,228
38         1        39                17.5     52,005
39         1        40                20.2     55,015
40         1        41                25.2     44,310
41         1        42                17.3     49,200
42         1        43                24.3     44,268
43         1        44                23.8     51,714
44         1        45                13.6     59,715
45         1        46                13.3     52,511
46         1        47                14.4     62,745
47         1        48                17.6     58,431
48         1        49                23.9     41,195
49         1        50                16.8     51,474
50         1        51                12.0     58,424
51         2         1                25.2     44,833
52         2         2                13.3     73,391
53         2         3                23.5     51,473
54         2         4                24.5     42,046
55         2         5                20.3     64,483
56         2         6                13.6     63,945
57         2         7                13.6     71,333
58         2         8                17.9     61,327
59         2         9                29.3     73,115
60         2        10                22.0     49,416
61         2        11                23.6     51,225
62         2        12                13.4     73,097
63         2        13                15.9     48,311
64         2        14                17.9     59,590
65         2        15                18.8     50,510
66         2        16                13.7     54,843
67         2        17                15.3     53,802
68         2        18                23.8     45,178
69         2        19                26.7     45,829
70         2        20                16.0     51,419
71         2        21                12.8     75,784
72         2        22                13.9     70,659
73         2        23                20.8     51,063
74         2        24                12.1     63,459
75         2        25                30.1     40,630
76         2        26                18.9     50,200
77         2        27                16.8     49,650
78         2        28                14.4     55,073
79         2        29                20.1     52,544
80         2        30                 9.8     70,003
81         2        31                14.6     72,337
82         2        32                25.6     45,524
83         2        33                21.3     60,805
84         2        34                21.9     47,884
85         2        35                10.5     61,674
86         2        36                19.3     51,086
87         2        37                20.4     48,595
88         2        38                18.1     54,074
89         2        39                17.9     55,683
90         2        40                19.3     57,265
91         2        41                23.5     47,308
92         2        42                16.0     53,263
93         2        43                22.4     47,243
94         2        44                21.9     55,668
95         2        45                11.5     62,961
96         2        46                12.2     56,883
97         2        47                14.0     66,263
98         2        48                14.6     64,080
99         2        49                22.9     41,969
100        2        50                14.9     55,623
101        2        51                11.2     61,213
102        3         1                22.8     48,193
103        3         2                13.3     74,058
104        3         3                19.7     56,508
105        3         4                21.2     45,916
106        3         5                17.4     71,785
107        3         6                11.4     69,113
108        3         7                12.3     74,428
109        3         8                16.0     64,085
110        3         9                26.0     80,153
111        3        10                19.6     52,582
112        3        11                20.3     56,117
113        3        12                10.7     77,936
114        3        13                13.3     52,280
115        3        14                16.0     63,044
116        3        15                16.3     54,134
117        3        16                10.9     58,706
118        3        17                13.4     56,382
119        3        18                20.6     48,332
120        3        19                26.0     46,283
121        3        20                13.1     55,980
122        3        21                11.6     80,711
123        3        22                12.7     77,385
124        3        23                17.7     54,840
125        3        24                10.8     68,364
126        3        25                27.0     43,595
127        3        26                17.2     53,506
128        3        27                14.0     53,262
129        3        28                12.6     59,913
130        3        29                17.9     57,932
131        3        30                 9.1     73,638
132        3        31                13.1     80,106
133        3        32                24.6     47,086
134        3        33                18.9     64,783
135        3        34                19.6     52,797
136        3        35                10.4     62,400
137        3        36                18.2     54,077
138        3        37                20.1     50,051
139        3        38                14.9     60,123
140        3        39                15.7     59,165
141        3        40                17.1     62,923
142        3        41                21.3     50,675
143        3        42                15.2     56,871
144        3        43                19.8     51,319
145        3        44                19.9     59,195
146        3        45                 9.5     68,395
147        3        46                11.6     58,271
148        3        47                13.3     71,518
149        3        48                13.4     70,942
150        3        49                22.3     43,238
151        3        50                13.5     59,300
152        3        51                12.0      61279

# LOAD DATA

In [17]:
dbURI = f"postgresql://{config.user}:{config.password}@{config.host}:{config.port}/{config.database}"
engine = create_engine(dbURI)
if not database_exists(engine.url):
    create_database(engine.url)

In [18]:
state_data.to_sql('state', engine, if_exists='replace')
subject_df.to_sql('subject', engine, if_exists='replace')
grade_df.to_sql('grade', engine, if_exists='replace')
year_df.to_sql('year', engine, if_exists='replace')